@import "../../global.scss";
.seasonSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  @include mobile_potrait {
    background-size: cover;
    background-position: 50%;
  }
  @include mobile_landscape {
    background-size: cover;
    background-position: 50%;
  }
  .scroll {
    position: absolute;
    top: -5rem;
  }
  .seasonContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: 100% 100%;
    z-index: 2;
    margin-bottom: 5rem;
    
    @include mobile_potrait {
      margin-bottom: 3rem;
      padding: 12px;
    }
    @include mobile_landscape {
      margin-bottom: 3rem;
    }
    h1 {
      font-size: min(4rem, 4vw);
      color: #fdce86;
      text-shadow: 3px 3px 0px #333333;
      text-transform: uppercase;
      margin-bottom: min(1rem, 1vw);
      @include mobile_potrait {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      @include mobile_landscape {
        font-size: 2rem;
      }
    }
    .wrapper {
      width: 100%;
      max-width: 1320px;
      display: flex;
      align-items: flex-start;
      grid-area: auto;
      gap: 20px;
      @include mobile_potrait {
        margin-bottom: 2rem;
        flex-direction: column;
        gap: 10px;
      }
      @include mobile_landscape {
        width: 100%;
      }
      .left{
        width: 33%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        padding: 2rem;

        background: linear-gradient(#0f0f24,#0f0f24) padding-box,linear-gradient(180deg,rgba(129,132,255,.2) 0,rgba(129,132,255,0) 100%) border-box;
        border: 1px solid;
        border-image-source: linear-gradient(180deg,rgba(129,132,255,.2) 0,rgba(129,132,255,0) 100%);
        border-radius: 25px;
        position : relative;

        &:after{
          content : "";
          position: absolute;
          width: 3.25rem;
          height: 2px;
          background: linear-gradient(90deg,#8149bf 1.74%,#ef655d 100%);
          border: '1px solid';
          top : 4.625rem;
          left : 0;
          transform : translate(-50%,-50%) rotate(270deg);
        }
        @include mobile_potrait {
          width: 100%;
          padding: 1.5rem;
        }
        .row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: linear-gradient(#0f0f24,#0f0f24) padding-box,linear-gradient(180deg,rgba(255,255,255,.25) 0,rgba(255,255,255,0) 100%) border-box;
          border: 1px solid transparent;
          padding: .75rem 1.25rem;
          text-transform: uppercase;
          border-radius: 15px;
          width: 100%;
          margin-bottom: 2rem;
          p{
            font-size: 14px;
            text-transform: uppercase;
            color: #636569;
            margin: 0;
          }
          h5{
            font-size : 14px;
            color: #fff;
            font-weight: normal;
          }
        }

      }

      .right{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(#0f0f24,#0f0f24) padding-box,linear-gradient(180deg,rgba(129,132,255,.2) 0,rgba(129,132,255,0) 100%) border-box;
        border: 1px solid;
        border-image-slice: linear-gradient(180deg,rgba(129,132,255,.2) 0,rgba(129,132,255,0) 100%);
        border-radius: 25px;
        width : 66.66%;
        padding : 32px;
        @include mobile_potrait {
          width: 100%;
          padding : 20px;
        }
      }
      .noneWallet{
        width: 100%;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        h1{
          font-size: 3rem;
          color: #fff;
          text-shadow: none;
          text-transform: uppercase;
          margin-top: 3rem;
          margin-bottom: 2rem;
          text-align: center;
          @include mobile_potrait {
            font-size: 2rem;
            margin-bottom: 1rem;
          }
          @include mobile_landscape {
            font-size: 2rem;
          }
        }
      }
    }
  }
  .back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
}
